.navbar-brand{
    margin-left: 10%;
    font-family: 'Parisienne', cursive;
    font-size: 22 px;
    font-weight: bold;

}

#navbarNav{
    margin-right: 10%;
}

.bg-color{
    background-color: #660066;
}

.Hero-section{
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    text-align: center;
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    height: 737px;
    background-size: cover;
}

#linea1{
    width: 300px;
    border-width: 2px;
    
}

.negrita {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 800;
}

#sobre-mi{

    font-family: 'Pacifico', cursive;
    margin-left: 10%;
    margin-right: 10%;    
    text-align: center;

}

.linea2{
 
    width: 250px;
    border-width: 2.5px;

}




.linea3{
    width: 500px;
    border-width: 2px;
}

#experiencia{
    font-family: 'Pacifico', cursive;

}


#t-curso{
    background-color: #660066;
}

.card-deck{
    margin-left: 10%;
    margin-right: 10%;
}
#titulo-trabajos{
    padding-top: 52pt;
    color: #ffffff;
}

.linea4{
    width: 500px;
}

#contacto{
    padding: 80pt;
}

h2{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 52pt;
    font-weight: bold;
}

.linea5{
    width: 150px;

}





.footer{
    font-family: 'Pacifico', cursive;
    height: 221pt;
    background-color: #660066;

}
.col-sm{
    text-align: center;
}

h5{
    color:#ffffff ;
}